/** Activity **/

.block {

  width: 100px;
  height: 50px;

  background-color: red;

  margin: 0 auto;
  position: relative;

}

.block p {
  text-align: center;
  line-height: 50px;
  color: white;
  pointer-events: none;
}

.block #seven {
  left: 0px;
  position: absolute;
}

.activity h3 {
  margin: 50px auto;
}

.activity p {
  margin: 50px auto;
}

.activity button {
  display: block;
  margin: 10px auto;
}

.activity hr {
  margin: 50px auto;
}

#status {
  text-align: center;
}



/** Game **/



.container {

  margin: auto;

  width: 800px;
  height: 500px;

  outline: 4px solid black;

  background-color: yellow;

}

.text_box {

  margin: 50px;
  width: 800px;
  margin: 0 auto;

}

#start {

  height: 50px;
  width: 160px;

  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;

}

#catch_me {

  position: absolute;

  top: 0px;
  left: 0px;

  width: 50px;
  height: 50px;

  background-color: red;

}



/** Slideshow **/

h1 {
  text-align: center;
}

#slide {
  display: block;
  margin: auto;
  width: 50%;
}

#nav_bar {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background: #6E1CFF;
    text-align: center;
    font-size: 1.5em;
}

.nav_span a {
    text-decoration: none;
    color: white;
}

.nav_span {
    padding: 2em;
    color: white;
}

#image_container {
    background: #6E1CFF;
    padding: 12px;
}

#current_img {
  height: 400px;
}

#button_container {
  padding: 20px;
}

.slide_button {
  background-color: #00FFAD;
  color: black;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
}

#left {
  float: left;
}

#right {
  float: right;
}

footer {
  font-size: 1.1em;
  text-align: center;
  color: #6E1CFF;
  border: 2px solid black;
  padding: 1px;
  display: block;
  margin: 80px auto;
  background-color: lightgray;
  font-weight: bold;
}
